
.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family: Outfit;
}
body{
    background: #dadada;
}
a{
    text-decoration: none;
    color: inherit;
}
.logo-tipo{
    color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #b1cdf0;
    padding: 10px 20px;
    color: #fff;
}
.nav-country{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: black;
}
.nav-country h1{
    color: black;
    font-size: 14px;
}
.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    color: gray;
    max-width: 999px;
    border-radius: 4px;
    margin-left: 15px;
}
.nav-search-gategory{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px;
}
.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}
.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background: #ffffff;
    border-radius: 0 4px 4px 0;
}
.nav-lenguaje{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600px;
    margin-left: 15px;
    color: black;
}
.nav-text{
    margin-left: 15px;
}
.nav-text p{
    font-size: 12px;
    color: black;
}
.nav-text h1{
    font-size: 14px;
    color: black;
}
.nav-cart{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
.nav-cart h4{
    font-size: 15px;
    color: black;
}
.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}
.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #7299c8;
    color: #fff;
    font-size: 15px;
}